{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "electron": "2.0"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "dynamic-import-node",
    "inline-react-svg"
  ]
}
